.div1{
    border: 5px solid grey;
    border-radius: 15px;
    width: 85%;
    margin-left: 5%;
}
#paragraf1{
    border-style: dotted;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    border-width: 3px 6px 9px 12px;
    border-color: brown;
    border-radius: 15px;
}
#paragraf2{
    border: 10px solid goldenrod;
    padding: 3px 6px 9px 12px;
    border-width: 3px 6px 9px 12px;
}
#paragraf3{
    border-style: inherit;
    border-width: 3px 6px 9px 12px;
    border-color: slateblue;
    border-radius: 15px;
}
#paragraf4{
    border-style: ridge;
    border-width: 3px 6px 9px 12px;
    border-color: firebrick;
    border-radius: 15px;
}
#paragraf5{
    border-style: inset;
    border-width: 3px 6px 9px 12px;
    border-color: tomato;
    border-radius: 15px;
    width: 400px;
    padding: 25px 10px;
    box-sizing: border-box; /*toplam genişliği belirler*/
}